@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

.helvetica {
  font-family: Helvetica, arial, sans-serif !important;
}

.poppins {
  font-family: 'Poppins', sans-serif !important;
}

.hlable {
  -webkit-touch-callout: unset;
  -webkit-user-select: unset;
  -khtml-user-select: unset;
  -moz-user-select: unset;
  -ms-user-select: unset;
  user-select: all;
}

.unset {
  all: unset
  /* -webkit-appearance: none; */
  /* -moz-appearance: none;    */
  /* appearance: none;     */
}

select {
  margin: 0 !important;
  padding: 0 !important;
  text-align: left !important; 
  text-align-last: left !important; 
  /* all: unset; */
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Poppins', sans-serif;
  color: rgb(223, 225, 236);
  background-color: #141618;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}

.col {
  display: flex;
  flex-direction: column;
}

.nsb {
  scrollbar-width: none;
}

.nsb * {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 15px;
  /* display: none; */
}

/* @media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 35px;
  }
} */

::-webkit-scrollbar-track {
  background: #070707;
}

::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  min-height: 25px;
}

/* .msb::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    min-height: 500px;
} */

::-webkit-scrollbar-thumb:hover {
  background: #727171;
}

.hightop {
  font-family: 'gmhightop demo', sans-serif; /* Fallback fonts are good practice */
}

input {
  padding: 4px;
}



.center {
  display: flex;
  /* text-align: left; */
  justify-content: center;
  align-items: center;
}

.full {
  width: 100%;
  height: 100%;
}

.hl:hover {
  background-color: '#48494a';
}

.img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-position: center; */
}

.pen * {
  pointer-events: none;
}

.scale {
  font-size: clamp(12px, 1vw, 48px);
  white-space: nowrap;
  overflow: hidden;
}

.cont {
  display: flex;
  width: 100%;
}

.cont > * {
  flex: 1 0 0%; 
}

.rel_icons > * {
  height: 80%;
  aspect-ratio: 1;
  padding: 3px;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 4px;
}

.rel_icons > *:hover {
  background-color: #474747;
}